{% extends "base.html" %}
{% block content %}
<!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Charts</li>
      </ol>
      <div class="row">
        <div class="col-lg-8">
          <!-- Input form-->
          <div class="card mb-3">
            <div class="card-header">
              <i class="fa fa-bar-chart"></i> Payment Type Prediction </div>
            <div class="card-body">
              <form role="form" action="/a9/pimpinan-fakultas/pengajuan-dana-pimpinan-fakultas/submit" method="POST" enctype="multipart/form-data">
                  
                <div class="form-group">
                    <label for="pickup">Pickup Location</label>
                    <select name="location" class="form-control">
                      <option value="">Select pickup location</option>
                      <option value="Harlem">Harlem</option>
                      <option value="Hudson Yards">Hudson Yards</option>
                      <option value="Riverside South">Riverside South</option>
                    </select>
                </div>  
                
                <div class="form-group">
                    <label for="dropoff">Dropoff Location</label>
                    <select name="location" class="form-control">
                      <option value="">Select dropoff location</option>
                      <option value="Harlem">Harlem</option>
                      <option value="Hudson Yards">Hudson Yards</option>
                      <option value="Riverside South">Riverside South</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="dropoff">No. of Passenger</label>
                    <select name="passenger" class="form-control">
                      <option value="">Select number of passenger</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="timestamp">Time</label>
                    <input type="time" name="timestamp" class="form-control"  placeholder="Waktu perjalanan akan dilakukan" required="required" data-validation-required-message="Pick the time"></input>
                    <p class="help-block text-danger"></p>
                </div>                
                
                <button type="submit" name="action" value="save" class="btn btn-primary">Submit</button>
                <button type="reset" class="btn btn-danger">Reset</button>
          
          
        </form>
            </div>
            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
          </div>
        </div>
      </div>

{% endblock %}