{% extends "base.html" %}
{% block content %}
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">PDB08</a>
        </li>
        <li class="breadcrumb-item active">Dashboard</li>
      
      </ol>
   
      <!-- Area Chart Example-->
      <!-- <div class="card mb-3" height="100%" width="100%"> -->
        <!-- <div class="card-header">
          Area Chart Example</div> -->
        
          <iframe src="https://public.tableau.com/profile/ridha6105#!/vizhome/Hadoop-PDB/HadoopPDB?publish=yes" height="500px" width="100%"></iframe>
        
       <!--  <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div> -->
     <!--  </div> -->
      

{% endblock %}