{% extends "base.html" %}
{% block content %}
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">PDB08</a>
        </li>
        <li class="breadcrumb-item active">Dashboard</li>
       
      </ol>
      <div class="row">
        <div class="col-lg-12">
          <!-- Example Bar Chart Card-->
          <div class="card mb-3">
            <div class="card-header">
              <i class="fa fa-bar-chart"></i> Taxi Chart</div>
            <div class="card-body">
              <div class="row">
                <iframe src="https://public.tableau.com/profile/ridha6105#!/vizhome/Hadoop-PDB/Hadoop-PDB?publish=yes" height="2000px" width="100%"></iframe>
              </div>
            </div>
            <div class="card-footer small text-muted">Tugas Akhir PDB</div>
          </div>
          <!-- Card Columns Example Social Feed-->
        </div>
      </div>
{% endblock %}