{% extends "base.html" %}
{% block content %}
<!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">PDB08</a>
        </li>
        <li class="breadcrumb-item active">Predict</li>
      </ol>
      <div class="row">
        <div class="col-lg-8">
          <!-- Input form-->
          <div class="card mb-3">
            <div class="card-header">
              <i class="fa fa-bar-chart"></i> Payment Type Prediction </div>
            <div class="card-body">
              <form role="form" action="/predict2-result" method="POST" enctype="multipart/form-data">

                <div class="form-group">
                    <label for="passenger_count">Passenger Count</label>
                    <input type="text" name="passenger_count" class="form-control"  placeholder="Masukkan jumlah penumpang" ></input>
                    <p class="help-block text-danger"></p>
                </div>  

                <div class="form-group">
                    <label for="trip_distance">Trip Distance</label>
                    <input type="text" name="trip_distance" class="form-control"  placeholder="Masukkan jarak tempuh perjalanan" ></input>
                    <p class="help-block text-danger"></p>
                </div>  
                  
                <div class="form-group">
                    <label for="pickup_longitude">Pickup Longitude</label>
                    <input type="text" name="pickup_longitude" class="form-control"  placeholder="Masukkan longitude pickup" ></input>
                    <p class="help-block text-danger"></p>
                </div>  

                <div class="form-group">
                    <label for="pickup_latitude">Pickup Latitude</label>
                    <input type="text" name="pickup_latitude" class="form-control"  placeholder="Masukkan latitude pickup" ></input>
                    <p class="help-block text-danger"></p>
                </div>  
                
                <div class="form-group">
                    <label for="dropoff_longitude">Dropoff Longitude</label>
                    <input type="text" name="dropoff_longitude" class="form-control"  placeholder="Masukkan longitude dropoff" ></input>
                    <p class="help-block text-danger"></p>
                </div>  

                <div class="form-group">
                    <label for="dropoff_latitude">Dropoff Latitude</label>
                    <input type="text" name="dropoff_latitude" class="form-control"  placeholder="Masukkan latitude dropoff" ></input>
                    <p class="help-block text-danger"></p>
                </div>  

                <div class="form-group">
                    <label for="fare_amount">Fare Amount</label>
                    <input type="text" name="fare_amount" class="form-control"  placeholder="Masukkan jumlah fare" ></input>
                    <p class="help-block text-danger"></p>
                </div>  

                <div class="form-group">
                    <label for="extra">Extra Fare</label>
                    <input type="text" name="extra" class="form-control"  placeholder="Masukkan jumlah fare tambahan" ></input>
                    <p class="help-block text-danger"></p>
                </div>  

                <div class="form-group">
                    <label for="mta_tax">Tax</label>
                    <input type="text" name="mta_tax" class="form-control"  placeholder="Masukkan jumlah tax" ></input>
                    <p class="help-block text-danger"></p>
                </div>  

                <div class="form-group">
                    <label for="tip_amount">Tip Amount</label>
                    <input type="text" name="tip_amount" class="form-control"  placeholder="Masukkan jumlah tip yang ingin diberikan" ></input>
                    <p class="help-block text-danger"></p>
                </div>  

                <div class="form-group">
                    <label for="tolls_amount">Tolls Amount</label>
                    <input type="text" name="tolls_amount" class="form-control"  placeholder="Masukkan jumlah biaya tol" ></input>
                    <p class="help-block text-danger"></p>
                </div>  

                <div class="form-group">
                    <label for="total_amount">Total Amount</label>
                    <input type="text" name="total_amount" class="form-control"  placeholder="Masukkan total biaya" ></input>
                    <p class="help-block text-danger"></p>
                </div>  

                <div class="form-group">
                    <label for="pickup_day">Pickup Day</label>
                    <select name="pickup_day" class="form-control">
                      <option value="">Pilih hari pickup</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                    </select>
                </div>  

                <div class="form-group">
                    <label for="dropoff_day">Dropoff Day</label>
                    <select name="dropoff_day" class="form-control">
                      <option value="">Pilih hari dropoff</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                    </select>

                </div>  

                <div class="form-group">
                    <label for="pickup_hour">Pickup Hour</label>
                    <select name="pickup_hour" class="form-control">
                      <option value="">Pilih jam pickup</option> 
                      <option value="0">0</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                      <option value="9">9</option>
                      <option value="10">10</option>
                      <option value="11">11</option>
                      <option value="12">12</option>
                      <option value="13">13</option>
                      <option value="14">14</option>
                      <option value="15">15</option>
                      <option value="16">16</option>
                      <option value="17">17</option>
                      <option value="18">18</option>
                      <option value="19">19</option>
                      <option value="20">20</option>
                      <option value="21">21</option>
                      <option value="22">22</option>
                      <option value="23">23</option>
                    </select>
                </div>  

                <div class="form-group">
                    <label for="dropoff_hour">Dropoff Hour</label>
                      <select name="dropoff_hour" class="form-control">
                      <option value="">Pilih jam dropoff</option> 
                      <option value="0">0</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                      <option value="9">9</option>
                      <option value="10">10</option>
                      <option value="11">11</option>
                      <option value="12">12</option>
                      <option value="13">13</option>
                      <option value="14">14</option>
                      <option value="15">15</option>
                      <option value="16">16</option>
                      <option value="17">17</option>
                      <option value="18">18</option>
                      <option value="19">19</option>
                      <option value="20">20</option>
                      <option value="21">21</option>
                      <option value="22">22</option>
                      <option value="23">23</option>
                    </select>

                </div>
                
                <button type="submit" name="action" value="save" class="btn btn-primary">Submit</button>
                <button type="reset" class="btn btn-danger">Reset</button>
              </form>
            </div>
            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
          </div>
        </div>
      </div>

{% endblock %}